html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import "./layout.scss";
@import "./headerNavbar.scss";
@import "./auth/signIn.scss";
@import "./auth/signUp.scss";
@import "./pageTitle.scss";
@import './formFields.scss';